$blue: #3D72C5;
$dark-blue: #1C2B36;
$navigation-title-color: #4D90C4;
$lightgrey: #ECF1F7;
$text-color: #93A7BD;
$channel-text-color: #444;
$aside: rgba(236, 241, 247, 0.31);
$input-msg: #D8D7D7;
$placeholder: #939596;
$msg-date: #868687;
$green: #2BB858;

