
$green-success: rgb(83, 191, 137);
$blue-primary: rgb(77, 144, 196);
$purple: #7266ba;

#course {

    .course-wrapper {

        button.new-course {
            background-color: #53BF89;
            border: none;
            padding: 8px 0px;
            font-size: 1.4rem;
            color: white;
            font-weight: 400;
            font-family: 'Source Sans Pro';
            border-radius: 31px;
            width: 140px;
            margin: 20px auto;
            display: block;
            cursor: pointer;
        }
    }

}

.ui-view-container {
    position: relative;
}

#view-course {


    font-size: 1.3rem;



    #course-editor-wrapper{
        padding:20px 50px;
        overflow:hidden;
        padding-right: 30px;

    }

    .col-md-4{
        width:33.33%;
    }
    .course-top-bar{
        position: absolute;
        height: 65px;
        width: 100%;
        bottom:0;
        z-index:999;
        background-color: white;
        border: none;
        padding:15px 35px;
        border-top: 1px solid lightgrey;
        padding-left: 60px;

        .btn {
            margin: -2px auto;
            padding: 8px 20px;
        }

        .btn-red {
            background-color: #fe6161;
            border-color: #D25353;
        }

        .btn-red:hover {
            color: white;
            background: #D25353;
        }
    }
    .ui-select-container {
        margin-bottom: 25px;
        margin-left: -25px;
    }

    .bottom-corner {
        height: 10px;
        border-left: dotted 1px #ccc;
    }

    .btn-save {
        position: fixed;
        left: 32%;
        bottom: 10px;
        width: 25%;
        padding: 10px;
    }


    //border: dotted 1px #ccc;
    border-width: 0 1px;
    height: 100%;
    overflow:hidden;
    width: 70%;
    float: left;
    padding:0;

    #course-editor {

        border-left: dotted 1px #ccc;
        cursor: text;
        outline: 0;
        padding: 10px;
        font-size: 1.4rem;
        padding-bottom: 45px;
    }
}

.ae-toolbar-styles, .ae-toolbar {
    z-index: 999;
    //margin-left: 100px;
}

ul.suggestion-list {
    li {
        padding: 7px;
        border-left: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        border-right: 1px solid #DDD;
        cursor: pointer;
    }

    li:hover {
        font-weight: bold;
    }
}

#course-files {
    padding: 20px 20px 120px 20px;
    width: 30%;
    float: right;
    font-size: 1.4rem;
    color: #58666e;

    table {
        tr {
            i.fa-times {
                visibility: hidden;
            }
            i.fa-trash-o {
                visibility: hidden;
            }
        }

        tr:hover {
            i.fa-times {
                visibility: visible;
            }
            i.fa-trash-o {
                visibility: visible;
            }
        }
    }



    .buttons {
        .btn {
            width: 100%;
            margin-bottom: 5px;
            background-color: #7266ba;
            padding: 10px;
            border: 0;
        }

        margin-bottom: 20px;
    }

    .panel-heading {
        padding: 12px 15px;
        position: relative;

        i.fa-upload {
            float: right;
            cursor: pointer;
            color: white;
        }

        input {
            cursor: pointer;
            font-size: 22px;
            width: 45px;
        }
    }

    tr {
        cursor: pointer;
    }

    tr:hover {
        .badge-trash {

        }
    }
    td {
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
        font-weight: 300;

        .fileIcon {
            float: left;
            margin-right: 6px;
            height: 20px;
            width: 15px;
        }
    }

    td:last-child {
        border-bottom: 1px solid #DDD;
    }

    .panel-success {
        .panel-heading {
            border: 0;
            background: $green-success;
        }
    }

    .panel-primary {
        .panel-heading {
            border: 0;
            background: $blue-primary;
        }
    }

    .panel-purple {
        .panel-heading {
            border: 0;
            background: $purple;
        }
    }

    .panel {
        border: 0;
        a {
            color: white;
        }
    }

    .btn-comments {
        cursor: pointer;
        margin: auto;
        display: block;
        padding: 10px 13px;
        font-size: 2.8rem;
        border-radius: 50px;
        border: 1px solid lightgrey;
        outline: 0;
        background-color: white;
        color: rgb(112, 124, 131);
        position: absolute;
        bottom: 10px;
        right: 50px;
    }
}




// EDITOR
#course-editor, #main-content {
    p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    ul {
        margin-left: 40px;
        li {
            list-style-type: initial;
            line-height: 2.2rem;
        }
    }

    ol {
        margin-left: 40px;
        li {
            list-style-type: decimal;
            line-height: 2.2rem;
        }
    }

    small, sub, sup {
        font-size: 1.3rem
    }

    sub {
        vertical-align: sub
    }

    sup {
        vertical-align: super
    }

    blockquote {
        background: rgba(50, 168, 230, 0.1);
        border-left: 8px solid #32A8E6;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "“" "”" "‘" "’";
    }

    blockquote:before {
        color: rgb(50, 168, 230);
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }

    hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    table {
        border: 1px solid #ddd;

        tr {
            td {
                padding: 12px;
                border: 1px solid #ddd;
            }
        }
    }
}
