.sct1{
    height: 100%;
    width: 100%;
    background: url(../images/login/login_bg.jpg) no-repeat center center;
    background-size: cover;
    display: table;
    text-align: center;
    position: relative;


    h1.logo-title{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
        top: -20%;
        z-index: 9999999;
        font-size: 4.5rem;
        font-family: 'Mission Script';
        color: white;
        font-weight: normal;

    }

    .login-overlay{
        background:#1C2B36;
        position:absolute;
        width:100%;
        opacity: 0.75;
        height:100%;
        z-index:100;
    }

    .box-container{
        z-index: 200;
        width: 360px;
        height: 360px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -180px;
        margin-top: -180px;

        .box{
            box-shadow:0 0 20px 0 rgba(0,0,0,.4);
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            font-size:1.4rem;
            padding: 45px 35px;
            background: #fff;
            text-align: center;
            border-radius: 5px;

            .btn-login{
                padding:10px 15px;
                color:white;
                background:$blue;
                border:none;
                width:100%;
                line-height:22px;
                font-weight:300;
                font-family: 'Source Sans Pro';
                font-size:1.8rem;
                border-radius:3px;
                margin-top:15px;
            }

            h1{
                font-size: 2.6rem;
                font-weight:300;
            }

            a{
                color:$blue;
            }

            p.box-slogan{
                line-height:44px;
            }
            form.sign-in{
                margin-top:35px;

                input {
                    padding-right: 35px;
                }
            }
            form div{
                margin-bottom:12px;
                position:relative;

                span{
                    position:absolute;
                    top:9px;
                    right:14px;
                }
            }
            form input{
                height:42px;
                outline:0;
                background:none;
                box-shadow:none;
                border:2px solid $lightgrey;
                padding-left:15px;
                font-size:1.6rem;
                font-weight:400;
                font-family: 'Source Sans Pro';
            }
        }
    }
}
