#handin{
    #handin-main{
        padding-bottom:0px;
    }

    div.h-s-time{
        color:#868687; font-weight: 300; text-align: center;
    }

    div.h-s-owner{
        p{
            text-align:right;
            margin-top:-4px;
            text-transform: capitalize;

        }
        img{
            vertical-align:middle;
            margin-right:4px;
            margin-top:-2px;
            border-radius:100%;
        }
    }

    div.h-s-cta{
        margin-top:1px;
        a.h-s-upload {
            font-size:1.3rem;
            padding: 5px 12px;
            margin-top: -7px;
            border-radius: 20px;

            svg{
                fill:#4296c5;
                vertical-align:middle;
                margin-top:-1px;
                margin-right:-1px;
            }
        }
        .h-s-edit{
            color:#4296c5;
            border:1px solid #4296c5;
        }

        .h-s-cancel{
            color:#8D8F90;
            border:1px solid #8D8F90;
        }

    }

    div.my-drop-zone{
        border:2px dashed #E4E4E4;padding:20px;
        margin: 20px auto;
        a{
            position:relative;
        }
        input{
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    div.my-drop-zone.nv-file-over{
        border: 2px dashed #4296c5;
    }

    div.h-s-l-cta{
        button{
            width:100%;
            margin-top:5px;
        }
    }
    ul.h-s-files{

        li:first-child {
            border-top: 0;
        }

        li{
            border-top:1px solid lightgrey;
            padding:10px 0px;
            float:left;
            width:100%;
            a.h-delete-cta{
                font-size:1.6rem;
                color: #fe6161;
                padding: 4px 6px;
                border-radius: 2px;
                margin-top: -3px;
            }
            a{
                margin-top: 3px;
                svg{
                    vertical-align: middle;
                    margin-top:-3px;
                    margin-right:1px;
                }
            }
        }
    }


    #handin-student{

        padding:20px;
        overflow: scroll;

        .panel{
            margin-top:0px;
            border:1px solid #e1e8ed;
        }

        .panel-heading{
            padding: 15px;
        }

        h4{
            font-weight:300;
            font-size:1.6rem;
        }
    }
}
