<div class="container" id="helpme-wrapper">

	<ol class="breadcrumb">
	  <li><a data-ui-sref="home">Accueil</a></li>
	  <li class="active">Je suis en danger</li>
	</ol>

  <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1 class="text-center">Vous pouvez vous déplacer ?</h1>
        <p class="text-center choice refuge"><a data-ui-sref="app.itinary({id:'5660faf9a624fe140019a827'})" title="Me guider vers le refuge le plus proche" class="text-center"><i class="fa fa-home text-center gray"></i><br />
        <span>Me guider vers le refuge le plus proche.</span>
        </a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h1 class="text-center">Vous êtes dans l'mal ?</h1>
        <p class="text-center choice help"><a ng-click="postPanic()" title="Me guider vers le refuge le plus proche" class="text-center"><i class="fa fa-exclamation text-center gray"></i><br />
        <span>Me guider vers le refuge le plus proche.</span>
        </a>
        </p>
      </div>
  </div>
  <div class="row">
    <p ng-if="showed" class="alert alert-success"> Votre position a été transmise au centre de secours avec succès, une équipe arrive !<p>
  </div>
</div>