<div class="container" id="who-wrapper">
    
  <ol class="breadcrumb">
    <li><a data-ui-sref="home">Accueil</a></li>
    <li class="active">Je suis prêt à aider</li>
  </ol>

  <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center"><strong>
          Je suis ...</strong>
        </h1>
        <ul class="list-unstyled list-inline text-center">
          <li>
            <a data-ui-sref="app.map" title="Je suis Médecin">
              <i class="fa fa-stethoscope"></i><br /> Médecin
            </a>
          </li>
          <li>
            <a data-ui-sref="app.map" title="Je suis Secouriste">
             <i class="fa fa-medkit"></i><br /> Secouriste
            </a>
          </li>
          <li>
            <a data-ui-sref="app.map" title="Je suis Pompier">
              <i class="fa fa-fire-extinguisher"></i><br /> Pompier
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>